* {
    box-sizing: border-box;
}

body {
    color: var(--string-color);
    font-family: "Noto Sans JP", sans-serif;
    background-color: #f4f4f4;
}

a {
    color: var(--string-color);
    text-decoration: none;
}

li {
    list-style: none;
}
